<mat-list-item>
  <div mat-list-icon class="noAvatarContainer">
    <span>{{ buildCustomAvatar(contact.name) }}</span>
  </div>

  <div mat-line class="nameContainer">{{ contact.name }}</div>
  <div mat-line class="usernameContainer">{{ contact.username }}</div>
  <!-- <ion-label>
    <div class="nameContainer">{{ contact.name }}</div>
    <div class="usernameContainer">{{ contact.username }}</div>
  </ion-label> -->

  <div class="extensionItemActions">
    <!-- <ng-container *ngIf="!siptizeServ.transferMode; else elseTransfer"> -->
    <ng-container *ngIf="true; else elseTransfer">
      <button mat-icon-button class="callButton buttonNormalSize" title="Llamar" (click)="callExtension()" [disabled]="cannotCall()">
        <mat-icon>call</mat-icon>
      </button>
    </ng-container>
    <ng-template #elseTransfer>
      <button mat-icon-button class="transferButton buttonNormalSize" title="Transferencia Ciega" (click)="transferCall()" [disabled]="cannotCall()">
        <mat-icon>keyboard_return</mat-icon>
      </button>
    </ng-template>
  </div>
</mat-list-item>