// paletas genneradas con http://mcg.mbitson.com y https://material.io/design/color/#tools-for-picking-colors
$primaryPalette: (
  50 : #e7f0ff,
  100 : #c3d9ff,
  200 : #9cc0ff,
  300 : #74a6ff,
  400 : #5693ff,
  500 : #3880ff,
  600 : #3278ff,
  700 : #2b6dff,
  800 : #2463ff,
  900 : #1750ff,
  A100 : #ffffff,
  A200 : #fcfdff,
  A400 : #c9d5ff,
  A700 : #b0c1ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$accentPalette: (
    50 : #fff8e1,
    100 : #ffedb5,
    200 : #ffe284,
    300 : #ffd653,
    400 : #ffcd2e,
    500 : #ffc409,
    600 : #ffbe08,
    700 : #ffb606,
    800 : #ffaf05,
    900 : #ffa202,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe5bf,
    A700 : #ffdaa6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warnPalette: (
    50 : #fde9eb,
    100 : #f9c7ce,
    200 : #f5a2ad,
    300 : #f17c8c,
    400 : #ee6073,
    500 : #eb445a,
    600 : #e93e52,
    700 : #e53548,
    800 : #e22d3f,
    900 : #dd1f2e,
    A100 : #ffffff,
    A200 : #ffe0e2,
    A400 : #ffadb3,
    A700 : #ff949b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);