// Buttons Styles
$successColor: #2dd36f;
$warningColor: #ffc409;
$primaryColor: #3880ff;
$dangerColor: #eb445a;

/** CSS Variables **/
:root {
  /** primary **/
  --color-primary: #3880ff;
  --color-primary-rgb: 56, 128, 255;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shade: #3171e0;
  --color-primary-tint: #4c8dff;
}