 :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

mat-progress-bar {
    top: 0;
    position: fixed;
    left: 0;
    z-index: 100;
}

.appContainer {
    width: 100vw;
    height: 100vh;
    display: block;
    position: relative;

    .topbarContainer, .sidebarContainer, .routerOutletContainer, .callContainer {
        display: block;
        position: absolute;
    }
    
    .topbarContainer {
        display: flex;
        width: calc(100vw - 68px);
        height: 60px;
        top: 0;
        left: 68px;
        background-color: #464775;

        .topbarTitle {
            margin: auto 1rem;
            font-size: 24px;
            font-weight: bold;
            color: white;
        }
    }

    .sidebarContainer {
        width: 68px;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: #313247;

        .noAvatarContainer,
        .avatarImage {
            /*width: 48px !important;
            height: 48px !important;*/
            margin: 6px auto;
        }

        .sideMenuItemsList {
            display: flex;
            flex-direction: column;
            height: calc(100vh - 68px);
            
            .mat-list-item {
                text-decoration: none;
                cursor: pointer;

                ::ng-deep.mat-list-item-content {
                    padding: 0 !important;
                }
                
                mat-icon {
                    $icon-size: 32px;
                    font-size: $icon-size;
                    width: $icon-size;
                    height: $icon-size;
                    margin: 0 auto;
                    color: white;
                }
            }

            .mat-list-item:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }

            .mat-list-item.selected {
                border-left: solid 8px var(--color-primary-tint);
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
        
                mat-icon {
                    color: var(--color-primary-tint);
                }
            }

            .logOutItem {
                margin-top: auto;
            }
        }
    }

    .routerOutletDefaultSize {
        width: 360px;
        height: calc(100vh - 60px);
        top: 60px;
        left: 68px;
        border-right: solid 1px lightgrey;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .routerOutletFullSize {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-image: url('/assets/img/login-background.jpg');
        background-size: cover;
        z-index: 10;
    }

    .callContainer {
        // background-color: palevioletred;
        width: calc(100vw - 68px - 360px);
        height: calc(100vh - 60px);
        top: 60px;
        left: calc(68px + 360px);
    }
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%;
    }
    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }
    .card.highlight-card span {
        margin-left: 72px;
    }
    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}