<mat-progress-bar mode="indeterminate" *ngIf="loadingServ.loading"></mat-progress-bar>

<div class="appContainer">
    <div class="topbarContainer">
      <div class="topbarTitle">SIP.js WebApp</div>
    </div>

    <div class="sidebarContainer">
        <div class="noAvatarContainer" title="username - name">
            <span>{{ buildCustomAvatar("Daniel leal perez") }}</span>
        </div>

        <mat-list class="sideMenuItemsList">
            <a mat-list-item *ngFor="let item of sideMenuItems" [routerLink]="item.route" routerLinkActive="selected">
                <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            </a>
            
            <mat-list-item class="logOutItem" (click)="logOut()">
              <mat-icon mat-list-icon>logout</mat-icon>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="routerOutletContainer" [ngClass]="getRouterOutletClass()">
        <router-outlet></router-outlet>
    </div>

    <div class="callContainer">
    </div>
</div>