.loginBody {
    width: 100vw;
    height: 100vh;
    display: flex;
    place-content: center;
    align-items: center;

    .loginContainer {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .loginEmail {
            display: flex;
            flex-direction: column;
            margin-top: 1rem 0;
        }
    }

    .socialNetworkLogin {
        display: flex;
        flex-direction: column;
        align-items: center;

        ::ng-deep.mat-button-wrapper {
            display: flex;
            align-items: center;
        }
    }
}