/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//angular material theming
@import "~@angular/material/theming";
@include mat-core();
@import "theme/variables.scss";
@import "theme/paletas.scss";
$app-primary: mat-palette($primaryPalette);
$app-accent : mat-palette($accentPalette);
$app-warn : mat-palette($warnPalette);
$app-theme: mat-light-theme(( color: ( primary: $app-primary, accent: $app-accent, warn: $app-warn, )));
@include angular-material-theme($app-theme);